* {
    background-color: #1f2124;
    color: white;
    
}

nav {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: repeat(2, 1fr);

}

#nav_button {
    grid-row: 1;
    height: 50px;
    width: 50px;
    grid-column: 1;
    border: none;


}

#nav_button:hover {
    border:solid;
    border-radius: 50%;
    background-color: #3f4143;
    cursor: pointer;
    border-color: #1f2124;
}

#title {
    grid-row: 1;
    grid-column: 1;
    margin: 10px 50px 0px 75px;



}

aside {
    visibility: visible;
    display: grid;
    grid-template-rows: repeat(auto, 150px);
}   

#newListButton {
    border-radius: 50%;
    border:solid;
    background-color: #3f4143;
    height: 50px;
    width: 100px;
    border-color: #1f2124;
}

#newListButton:Hover {
    cursor: pointer;
    color: lightcyan;
    background-color: cadetblue;
    
}

main {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#missing_list {
    grid-column: 2;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    grid-row: 1;
}

#missing_list_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 2;
    text-align: center;
   
}

form{
    visibility: hidden;
    border: solid;
    border-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 2;
    text-align: center;
    border-radius: 10%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    grid-row: 1;
   
}

#list_name {
    border: solid;
}

#create_button, #cancel_button {
    display: block;
    align-items: center;
    align-items: center;
    display: block;
    margin: 30px 0px 10px auto;
    margin-right: auto;
    border-color: white;;
    
    
}


#create_button:hover, #cancel_button:hover {
    cursor: pointer;

}